<div class="header">CHECK-IN</div>
<div class="container-box">
    <div class="container">
        <h1>Retrieve your booking <br/>-</h1>
        
        <p>You can find your booking by filling out your family name and the booking code in your booking confirmation
        </p>
        <form (submit)="onSubmit()" [formGroup]="form">
            <label for="booking-code">Booking code</label>
            <input id="booking-code" [formControlName]="'bookingRef'">

            <label for="family-name">Family name</label>
            <input id="family-name" [formControlName]="'familyName'">

            <div class="button-container">
                <button id="submit-button" type="submit">Retrieve booking</button>
            </div>
        </form>
    </div>
</div>