.header {
    background-image: url(../../public/header.png);
    background-size: contain;
    text-align: center;
    height: 70px;
    line-height: 70px;
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 70px;
}

@media screen and (max-width: 425px) {
    .header {
        margin-bottom: 0;
    }
}