/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #051039;
}

input {
    width: 100%;
    border: 1px solid #82889C;
    display: inline-block;
    height: 40px;
    padding: 13px;
    font-size: 17px;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    display: inline-block;
}

.notification-error {
    border: 1px solid #fd8282;
    background-color: #fee3e3;
    padding: 15px;
}

.form-group .error-message {
    color: #D40504;
}

.container {
    margin: auto;
    border: 1px solid #051039;
    width: 450px;
    padding: 25px;
}
